# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Solution Data Base
*.sdf
/MS_VS_AVR_SERWO_PC_APP/ipch

# Log files
*.log
